<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/22_MAR_ASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

To calculate the Pearson correlation coefficient between the amount of time students spend studying for an exam and their final exam scores, you would need a dataset that includes both variables for each student. Once you have the dataset, you can follow these steps to calculate the Pearson correlation coefficient:

* Calculate the mean (average) of the time spent studying and the mean of the exam scores.
* Calculate the difference between each student's time spent studying and the mean of the time spent studying.
* Calculate the difference between each student's exam score and the mean of the exam scores.
* Multiply the corresponding differences obtained in steps 2 and 3 for each student and sum them up.
* Square each difference obtained in steps 2 and 3, sum them up separately, and calculate the square roots of both sums.
* Divide the sum calculated in step 4 by the product of the square roots calculated in step 5.
* The result of step 6 is the Pearson correlation coefficient.

### Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [5]:
# sleep = [7, 6, 8, 5, 7, 6, 7, 5, 6, 8]
# job_satisfaction = [8, 6, 7, 4, 9, 5, 7, 6, 6, 8]
import pandas as pd
df=pd.DataFrame({
    'sleep':[7, 6, 8, 5, 7, 6, 7, 5, 6, 8],
    'job_satisfaction':[8,6,7,4,9,5,7,6,6,8]
})

In [6]:
df.head()

   sleep  job_satisfaction
0      7                 8
1      6                 6
2      8                 7
3      5                 4
4      7                 9

In [7]:
df.corr(method='spearman')

                     sleep  job_satisfaction
sleep             1.000000          0.796243
job_satisfaction  0.796243          1.000000

### Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [2]:
exercise_hours = [3, 4, 5, 2, 6, 3, 4, 2, 5, 6, 1, 4, 2, 3, 5, 4, 6, 1, 2, 3, 4, 5, 6, 2, 4, 3, 1, 5, 6, 3, 4, 2, 5, 6, 1, 4, 2, 3, 5, 4, 6, 1, 2, 3, 4, 5, 6, 2, 4, 3, 1]
bmi = [23, 25, 28, 24, 27, 22, 26, 25, 29, 24, 23, 26, 27, 25, 30, 26, 27, 22, 26, 24, 29, 25, 28, 23, 27, 25, 23, 26, 29, 24, 28, 23, 27, 25, 22, 26, 24, 29, 25, 28, 23, 27, 25, 23, 26, 29, 24, 28, 25, 27, 26]
import pandas as pd
df=pd.DataFrame({
    'exercise_hours' : [3, 4, 5, 2, 6, 3, 4, 2, 5, 6, 1, 4, 2, 3, 5, 4, 6, 1, 2, 3, 4, 5, 6, 2, 4, 3, 1, 5, 6, 3, 4, 2, 5, 6, 1, 4, 2, 3, 5, 4, 6, 1, 2, 3, 4, 5, 6, 2, 4, 3, 1],
    'bmi' : [23, 25, 28, 24, 27, 22, 26, 25, 29, 24, 23, 26, 27, 25, 30, 26, 27, 22, 26, 24, 29, 25, 28, 23, 27, 25, 23, 26, 29, 24, 28, 23, 27, 25, 22, 26, 24, 29, 25, 28, 23, 27, 25, 23, 26, 29, 24, 28, 25, 27, 26]

})

In [3]:
df.corr(method='pearson')

                exercise_hours       bmi
exercise_hours        1.000000  0.411583
bmi                   0.411583  1.000000

In [4]:
df.corr(method='spearman')

                exercise_hours       bmi
exercise_hours        1.000000  0.407314
bmi                   0.407314  1.000000

### Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [8]:
df=pd.DataFrame({
     'tv_hours' :[3, 4, 2, 5, 6, 3, 4, 2, 5, 6, 1, 4, 2, 3, 5, 4, 6, 1, 2, 3],
     'physical_activity' : [100, 80, 90, 70, 60, 80, 75, 85, 95, 70, 85, 80, 90, 75, 80, 60, 95, 85, 70, 75]
    })

In [9]:
df.corr(method='pearson')

                   tv_hours  physical_activity
tv_hours           1.000000          -0.283128
physical_activity -0.283128           1.000000

### Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

In [14]:
df = pd.DataFrame({
    'age':[25,42,37,19,31,28],
    'soft drink ':['coke','pepsi','mountain dew','coke','pepsi','coke']
})

In [15]:
df

   age   soft drink
0   25          coke
1   42         pepsi
2   37  mountain dew
3   19          coke
4   31         pepsi
5   28          coke

In [16]:
df.corr(method='pearson')

<ipython-input-16-432dd9d4238b>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

     age
age  1.0

### Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [10]:
sales_calls_per_day = [15, 20, 12, 18, 14, 16, 19, 17, 21, 23, 15, 13, 20, 18, 17, 16, 19, 14, 16, 15, 22, 21, 19, 18, 16, 15, 17, 20, 18, 19]
sales_per_week = [50, 60, 45, 55, 48, 52, 56, 54, 58, 62, 52, 46, 63, 57, 54, 52, 56, 47, 51, 50, 60, 59, 56, 55, 53, 50, 52, 57, 55, 56]

In [11]:
df=pd.DataFrame({
    'sales_calls_per_day' :[15, 20, 12, 18, 14, 16, 19, 17, 21, 23, 15, 13, 20, 18, 17, 16, 19, 14, 16, 15, 22, 21, 19, 18, 16, 15, 17, 20, 18, 19],
'sales_per_week' : [50, 60, 45, 55, 48, 52, 56, 54, 58, 62, 52, 46, 63, 57, 54, 52, 56, 47, 51, 50, 60, 59, 56, 55, 53, 50, 52, 57, 55, 56]
})

In [12]:
df.corr(method='pearson')

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000        0.955456
sales_per_week                  0.955456        1.000000