<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ASSIGNMENT 2
#### 1. Write a program to accept percentage from the user and display the grade according to the following criteria: 
|MARKS | GRADE|
|-|-|
|**>90**|A|
|**>80 AND <=90**|B|
|**>=60 AND <=80**|C| 
|**BELOW 60**|D|

In [1]:
marks = float(input('Enter total percetage : '))
print('Grade : ', end='')
if marks>90 :
    print('A')
elif marks>80 and marks<=90 :
    print('B')
elif marks>=60 and marks<=80 :
    print('C')
else : print('D')

Enter total percetage : 75
Grade : C

#### 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria: 

|TAX | COST PRICE|
|-|-|
|**15%**|>100000|
|**10%**|>50000 and <= 100000|
|**5%**|<=50000|

In [2]:
cost = float(input('Enter total cost : '))
print('Road Tax : ', end='')
if cost>100000 :
  print('15%')
elif cost > 50000 and cost <= 100000 :
  print('10%')
else : print('5%')

Enter total cost : 150000
Road Tax : 15%

#### 3. Accept any city from the user and display monuments of that city. 

|CITY | MONUMENTS|
|-|-|
|**Delhi**|Red Fort|
|**Agra**|Taj Mahal|
|**Jaipur**|Jal Mahal|

In [3]:
city = input('Enter city name : ')
print('Monument : ', end='')
if city=='Delhi':
  print('Red Fort')
elif city=='Agra':
  print('Taj Mahal')
elif city=='Jaipur':
  print('Jal Mahal')

Enter city name : Delhi
Monument : Red Fort

#### 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
n = int(input('Enter number : '))
print('Count is : ', end='')
count = 0;
while n>10:
    count+=1;
    n/=3;
print(count)

Enter number : 27
Count is : 1

#### 5. Why and When to Use while Loop in Python give a detailed description with example.
* A while loop in Python is used to repeatedly execute a block of code as long as a certain condition is met. The structure of a while loop in Python is as follows:

* while condition:
    ##### code to be executed
* The code inside the loop will be executed as long as the condition is true. Once the condition becomes false, the loop will stop and the program will continue to execute the next line of code after the loop.

In [1]:
# sum of digits
n = int(input("Enter number"))
sum = 0
while n!=0:
    sum += n%10
    n//=10 
print(sum)

Enter number12
3

### 6. Use nested while loop to print 3 different pattern. 
#### 1. Rectangle pattern

In [2]:
n = int(input("Enter Length of rectangle"))
m = int(input("Enter breadth of rectangle"))
for i in range(0,n):
    for j in range(0,m):
        print("*",end=" ")
    print()

Enter Length of rectangle3
Enter breadth of rectangle2
* *
* *
* *

#### 2. Triangle pattern

In [3]:
n = int(input("Enter size : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter size : 4
*
* *
* * *
* * * *

#### 3. Diamond pattern

In [4]:
n = int(input("Enter Size : "))
i = 1
while i <= n:
    j = 1
    while j <= n - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= 2 * i - 1:
        print("*", end="")
        k += 1
    print("")
    i += 1

i = 4
while i >= 1:
    j = 1
    while j <= n - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= 2 * i - 1:
        print("*", end="")
        k += 1
    print("")
    i -= 1

Enter Size : 4
   *
  ***
 *****
*******
*******
 *****
  ***
   *

#### 7.  Reverse a while loop to display numbers from 10 to 1.

In [5]:
n = 10
while n >= 1:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

#### 8.  Reverse a while loop to display numbers from 10 to 1.

In [6]:
n = 10
while n >= 1:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1