In [1]:
print('Hello')

Hello

In [2]:
print(123)

123

In [3]:
age = 16
print("My age is : ",age)

My age is :  16

In [4]:
print("My age is : (age)")

My age is : (age)

In [6]:
print(f"My age is :{age}")     # f string -> formatting

My age is :16

In [7]:
# format way
name = "tanishqa"
age = 18
print("My name is : {} and age is : {} ".format(name,age))

My name is : tanishqa and age is : 18

In [9]:
print("My name is : {} and age is : {} ".format(age,name))

My name is : 18 and age is : tanishqa

In [10]:
# where n , a is place holder of variable defined in the formate
print("My name is : {n} and age is : {a} ".format(n = name,a = age))

My name is : tanishqa and age is : 18

In [11]:
print("My name is : {n} and age is : {a} ".format(a = age,n=name))

My name is : tanishqa and age is : 18

In [12]:
degree = "B.tech"

In [13]:
# My age is 18 and I an pursuing B.tech with the name tanishqa
print(f" My age is {age} and I an pursuing {degree} with the name {name}")

 My age is 18 and I an pursuing B.tech with the name tanishqa

In [15]:
print(" My age is {} and I an pursuing {} with the name {}".format(age,degree,name))

 My age is 18 and I an pursuing B.tech with the name tanishqa

In [16]:
print(" My age is {a} and I an pursuing {d} with the name {n}".format(a = age,d = degree,n = name))

 My age is 18 and I an pursuing B.tech with the name tanishqa

## Control flow
### Decision making Statement
    * It is a kind of making decision occured at situation of programn execution and action can be taken according to specified conditions.
    * Structure of decision making evaluate the expressions that provide True or false  as result.
    * It is upto you to decide which type of action went to take execute the statement based of result.

**There are several topics of decision making...**
1. **if**
2. **if else**
3. **if elif else**
4. **Nested if**
5. **Single statement suites**

In [17]:
# if statement
age = 18
if age >= 18 :
    print("Allowed to vote")

Allowed to vote

In [18]:
age = 10
if age >= 18 :
    print("Allowed to vote")

In [22]:
age = input("Enter your age")  #input return value into string

Enter your age 17

In [23]:
type(age)

str

In [25]:
age = int(input("Enter your age"))

Enter your age 17

In [26]:
##task
# take age as input
# check whether age >= 18 and age<= 45
#display you are young blood
age = int(input("Enter your age"))
if(age >= 18 and age<= 45):
    print("You are young blood")

Enter your age 26

You are young blood

In [27]:
# if else statement
age = int(input("Enter your age"))
if(age >= 18 and age<= 45):
    print("You are young blood")
else :
    print("Thank you We you let you know")

Enter your age 17

Thank you We you let you know

In [28]:
# in mall product price 
# if price > 1000 -> discount of 20 %
# price <= 1000 -> discount of 30%
# printy the  final product price
price = int(input("Enter product price"))
if (price >  1000):
    price = price - (price * 0.2)
else :
    price = price - (price * 0.3)
print(f"Final price of the product : {price}")

Enter product price 1000

Final price of the product : 700.0

In [31]:
''' ** else if statement **
'''
# in mall product price 
# if price >= 3000 -> discount of 20 %
# price >= 2000 and <3000 -> 30% off
# price >= 1000  and < 2000-> discount of 40%
# price < 1000 ->50 % off
# printy the  final product price
price = int(input("Enter product price"))
if(price>=3000):
    print("Final product price : {}".format(price*0.8))
elif(price >=2000 and price < 3000):
    print("Final product price : {}".format(price*0.7))
elif(price >=1000 and price <2000):
    print("Final product price : {}".format(price*0.6))
else:
    print("Final product price : {}".format(price*0.5))

Enter product price 100

Final product price : 50.0

In [32]:
''' ** Nested if **
'''
#price == 2999 ->additional gift
price = int(input("Enter product price"))
if(price>=3000):
    print("Final product price : {}".format(price*0.8))
elif(price >=2000 and price < 3000):
    if(price == 2999):
        print("Congratulations ! you won special gift")
    print("Final product price : {}".format(price*0.7))
elif(price >=1000 and price <2000):
    print("Final product price : {}".format(price*0.6))
else:
    print("Final product price : {}".format(price*0.5))

Enter product price 2999

Congratulations ! you won special gift
Final product price : 2099.2999999999997

In [33]:
# Single statement suites
val = int(input("Enter number"))
if val<=99 : print("Additional gift")

Enter number 90

Additional gift

In [34]:
val = int(input("Enter number"))
if val<=99 : print("Additional gift")
else :  print("Go home")

Enter number 100

Go home

### Loop statement
**There are several loops...**
1. **while**
2. **for**
3. **nested loop**
4. **Loop control**
    * break
    * continue
    * pass

In [38]:
# while loop
joining_age = 25
retirement_age = 60
service_year = 0
while joining_age < retirement_age:
    service_year+=1
    joining_age+=1
else :
    print("Time for returement")
print(service_year)

Time for returement
35

In [39]:
# atm machiine
total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount-=100
print("Paise bharo")

1000
900
800
700
600
500
400
300
200
100
Paise bharo

In [40]:
#for loop
lst = ["apple",1,2,3,"banana",1.0,'cat']
type(lst)

list

In [41]:
for x in lst:
    print(x)

apple
1
2
3
banana
1.0
cat

In [46]:
fruits = ['apple','banana','mango','cherry','kiwi']
for a in fruits:
    if(a=='cherry'):
        print("Fruit is cherry",end=" " )
    print(a ,end =" ")

apple banana mango Fruit is cherry cherry kiwi

In [47]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [48]:
fruit[0]

'm'

In [49]:
fruit[2]

'n'

In [50]:
fruit[5]

IndexError: string index out of range

In [52]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [53]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [58]:
## Nested loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******

In [59]:
## Nested loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r') 
    '''
    "\r" is a carriage return
    '''

*
**
***
****
*****
******
*******

In [60]:
## loop contorl
'''
break ->  terminate the loop immediately when it is encountered.
continue -> to skip the current iteration of the loop and the control flow of the program goes to the next iteration.
'''

'\nbreak ->  terminate the loop immediately when it is encountered.\ncontinue -> to skip the current iteration of the loop and the control flow of the program goes to the next iteration.\n'

In [63]:
fruits = ['apple','banana','mango','cherry','kiwi']
for a in fruits:
    if(a=='cherry'):
        print("Fruit is cherry",end=" " )
        break
    print(a ,end =" ")

apple banana mango Fruit is cherry

In [2]:
size = int(input("Enter number"))
m = (2 * size) - 2
for i in range(0, size):
    # for blank space
    for j in range(0, m):
        print(end=" ")
    m = m - 1  
    # for * pattern
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

Enter number 4

      *
     * *
    * * *
   * * * *